<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
    <a href="{{ metadata.url }}/index">Home</a> |
    <a href="{{ metadata.url }}/about">About</a> |
    <a href="{{ metadata.url }}/contact">Contact</a>
    </nav>
    {{ content | safe }}
</body>
</html>